* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #1F2D4C;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.8;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  display: block;
}

.container.hero {
  color: #898989;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  margin-top: 0;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 834px) {
  .hero-right img {
      width: 500px;
      position: absolute;
      top: 35vh;
      left: 50vw;
      z-index: -1;
  }
}

@media (max-width: 568px) {
  .hero-right img {
      width: 350px;
      position: absolute;
      top: 45vh;
      left: 50vw;
      z-index: -1;
  }
}

@media (max-width: 400px) {
  .hero-right img {
      width: 350px;
      position: absolute;
      top: 35vh;
      left: 40vw;
      z-index: -1;
  }
  .container.hero {
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 25em;
    height: 100%;
  }
  .hero-left {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .container.hero {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}

header {
  margin-bottom: 0.125em;
  display: block;
}

h1,
h2,
h3 {
  color: #1F2D4C;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1;
  display: block;
}
h1 {
  font-size: 4em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 1;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 130%;
  font-weight: 700;
  color: #1F2D4C;
}
h3 {
  font-size: 1.25em;
}

.white {
  color: white;
  margin-top: 8px;
}

p.white {
  margin-bottom: 3em;
}

p.large {
  font-size: 1.25em;
}

.orange {
  color:  #ff8c00;
}

.subtitle {
  font-size: 0.875em;
  line-height: 125%;
  width: 80%;
  margin-bottom: 2em;
}

@media (max-width: 568px) {
  .subtitle {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .subtitle {
    width: 100%;
  }
}

p {
  font-size: 1.15em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p.small {
  font-size: 0.875em;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 1em;
}

ul,
ol {
  padding-left: 1em;
}

a {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #ff8c00;
  text-decoration: none;
  border-width: 50%;
  white-space: nowrap;
}
a:hover,
a:focus {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #ff8c00;
  border-bottom: solid 2px #ff8c00;
  font-weight: bold;
}

/* nav styling */

.active {
  font-weight: bold;
}

.logo {
  float: left;
  margin-top: 4px;
}

.logo a {
  padding: 0px;
}

.footer .logo {
  float: none;
}

.nav-item {
  list-style: none;
  float: right;
}

nav a {
  padding: 16px;
  border-bottom: none;
}

nav a {
  padding: 8px 16px;
  font-weight: bold;
}

nav li:nth-child(2) {
  margin-right: 1em;
}

h4:first-of-type {
  padding-right: 8px;
  padding-left: 0px;
}

h4 {
  padding-right: 8px;
  padding-left: 8px;
  color: #1F2D4C;
}

.container-nav {
  width: 90%;
  height: 50px;
  display: block;
  text-align: right;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 8px;
}

.button.light {
  background-color: white;
  color:  #ff8c00 !important;
  border-radius: 5px;
  border: none;
}

button, .button {
  font-size: 1em;
  background-color: #FF8C00;
  color: white !important;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: none;
  border: 2px #ff8c00 solid;
}

.button.secondary {
  color: #FF8C00 !important;
  background-color: white;
  margin-left: 1em !important;
  border: 2px #ff8c00 solid;
}

a:hover.button.secondary  {
  background-color: #EFC693;
  color: #1F2D4C !important;
  border-color: #EFC693;
  transition: ease-in-out 0.2s;
}

a:hover.button  {
  background-color: #EFC693;
  color: #1F2D4C !important;
  border-color: #EFC693;
  transition: ease-in-out 0.2s;
}

.hero-left .button {
  margin-left: 0em;
}

@media (min-width: 768px) {
  .container-nav {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .container-nav {
    width: 1040px;
  }
}

/* styling for about section */ 

.content.about {
  background-color: #1F2D4C;
  color: white;
  width: 70vw;
  padding-right: calc((100vw - 1040px) / 2);
  padding-left: 80px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-top: 5em;
  margin-bottom: 5em;
}
@media (max-width: 768px) {
  .content.about {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 2em;
    width: 85%;
  }
}

.header-about {
  width: 40%;
  margin-right: 40px;
}

.container-about {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: calc((100vw - 1040px) / 2);
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  .container-about {
    flex-direction: column;
    align-items: flex-end;
  }
  .header-about {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container-about {
    margin-left: 62px;
  }
  .content-about {
    padding-right: 2em;
  }
}

/* styling for info section */

.section.info {
  background-color: #F8F8F8;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 120px;
}

.content-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-info {
  width: 20%;
  margin-right: 0px;
}

.info-content {
  display: inline;
}

.item-info h3 {
  display: inline-block;
  margin-left: 0.625em;
  margin-top: 0.125em;
  vertical-align: top;
  margin-bottom: 0.3em;
}

.icon {
  display: inline-block;
}

@media (max-width: 834px) {
  .item-info {
    width: 48%;
  }
  .item-info:nth-child(1) {
    margin-right: 8px;
  }
  .item-info:nth-child(3) {
    margin-top: 24px;
    margin-right: 8px;
  }
  .item-info:nth-child(4) {
    margin-top: 24px;
  }
}

@media (max-width: 568px) {
  .item-info {
    width: 100%;
    margin: 8px 0px !important;
  }
}

/* styling for features */

.section.features {
  background-color: #1F2D4C;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc((100vw - 1040px) / 2);
  padding-right: calc((100vw - 1040px) / 2);
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: 600px;
}
@media (max-width: 1200px) {
  .section.features {
    padding: 0 2em 0 2em;
  }
}
@media (max-width: 768px) {
  .section.features {
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: unset;
    margin-left: 0px;
    padding-top: 40px;
    height: auto;
  }
  .section.features h1 {
    margin-bottom: 40px;
  }
}

.section.features h3 { 
  color: #FF8C00;
}

.item-feature {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
}

.item-feature h3 {
  margin-top: 8px;
  margin-bottom: 0px;
}

.item-feature-background {
  position: relative;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  margin-top: -120px;
  margin-bottom: 32px;
  left: 16px;
  z-index: 1;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
}

.card-feature {
  position: relative;
  margin-left: 3em;
}
@media (max-width: 768px) {
  .card-feature {
    margin-left: 0px;
  }
}

/* styling for metrics */

.container-nav.example {
  background-color: #1F2D4C !important;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 16px;
  padding-bottom: 0px;
}

.section.metrics {
  background-color: #1F2D4C;
}

.container.metrics {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-bottom: 5em;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
}

@media (max-width: 668px) {
  .container.metrics {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) and (min-width: 668px) {
  .container.metrics {
    flex-wrap: wrap;
  }
}

.content-metrics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .content-metrics {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (max-width: 668px) {
  .content-metrics {
    width: 100%;
    justify-content: flex-start;
  }
}

.item-metric {
  width: 38%;
  padding: 2em;
  border-radius: 10px;
  color: white;
  background-color: #293B65;
  margin: 0 0 24px 24px;
}
@media (max-width: 1200px) {
  .item-metric {
    margin: 0px 24px 24px 0px;
    padding: 24px;
  }
}
@media (max-width: 668px) {
  .item-metric {
    margin: 0px 16px 16px 0px;
    padding: 16px;
  }
}

.break {
  border-top: 1px solid #32436B;
  height: 1px;
}

.break-large.orange {
  height: 7px;
  width: 50px;
  border-top: 7px solid orange;
}

.metric {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.metric p {
  margin-left: 8px;
}

/* styling for confidence and risk levels */

.confidence {
  text-align: center;
  width: 40%;
  border-radius: 7px;
  color: white;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -2px;
}

.confidence.low {
  background-color: red;
}

.confidence.medium {
  background-color: orange;
}

.confidence.high {
  background-color: green;
}

.confidence.unknown {
  background-color: grey;
  color: white;
}