<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    {% set css %}
      {% include "css/main.css" %}
      {% include "css/table.css" %}
      {% include "css/filter.css" %}
      {% include "css/tabs.css" %}  
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <title>{{ title }}</title>
  </head>

  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <div class="container-nav">
      {% include "components/nav.njk" %}
    </div>
    <div class="container hero">
      <div class="hero-left">
        {% include "components/header.njk" %}
        <a href="" class="button">Get it</a>
        <a href="/example" class="button secondary">See example</a>
      </div>
      <div class="hero-right">
        <img src="{{ "/images/trackity-illo-compressed.png" | url }}" width="100%" height="100%" />
      </div>
    </div>
    <div class="section info">
      {% include "components/info.njk" %}
    </div>
    <div class="container-about">
      <div class="header-about">
        <h1>Documentation is a <span class="orange">team sport</span></h1>
      </div>
    <div class="content about">
      <h3 class="white">{{ about_header | safe }}</h3>
      <p class="large">{{ about | safe }}</h3>
    </div>
    </div>
    <div class="section features">
      {% include "components/features.njk" %}
    </div>
    <div class="container">
      {{ content | safe }}
    </div>
  </body>
</html>



