<div>
  <h1 class="white">Fast, painless, easy.</h1>
</div>
  <div class="content-features"> 
    <div class="card-feature">
      <div class="item-feature">
        <h3>✍🏻 Update via Google Sheets</h3>
        <p>No more death-by-Confluence / JIRA to maintain your teams design and research insights.</p>
      </div>
      <div class="item-feature-background"></div>
    </div>
    <div class="card-feature">
      <div class="item-feature">
        <h3>📂 Custom fields</h3>
        <p>Track anything you want or need. Any detail you want will be pulled straight through into the tracker.</p>
      </div>
      <div class="item-feature-background"></div>
    </div>
    <div class="card-feature">
      <div class="item-feature">
        <h3>🤖 Auto deploys</h3>
        <p>Keep the tracker fresh and don’t worry about building regularly. Builds are deployed every 24 hours.</p>
      </div>
      <div class="item-feature-background"></div>
    </div>
    <div class="card-feature">
      <div class="item-feature">
        <h3>🔎 Custom filters</h3>
        <p>Looking for something in particular? Filter your insights based on whatever you need.</p>
      </div>
      <div class="item-feature-background"></div>
    </div>
  </div>
