  <div class="logo">
    <a href="/">
      <img src="{{ "/images/trackity-logo-dark.png" | url }}" width="auto" height="16px" />
    </a>
  </div>
  <div class="footer-content">
    <p>Developed by <span>Will Hepworth</span>, 2020 ✌🏻</p>
    <p class="small"><a href="https://github.com/wshepworth/trackity">View the code on Github</a></p>
  </div>
