<div class="content-info"> 
  <div class="item-info">
    <h3>Design</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna et eu, purus pharetra arcu, eu faucibus vitae, congue.</p>
  </div>
  <div class="item-info">
    <h3>Research</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna et eu, purus pharetra arcu, eu faucibus vitae, congue.</p>
  </div>
  <div class="item-info">
    <h3>Product</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna et eu, purus pharetra arcu, eu faucibus vitae, congue.</p>
  </div>
  <div class="item-info">
    <h3>Development</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna et eu, purus pharetra arcu, eu faucibus vitae, congue.</p>
  </div>
</div>
