<div class="content-info"> 
  <div class="item-info">
    <div class="info-content">
      <div class="icon">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.5" cy="11.5" r="11.5" fill="#FAEAD5"/>
          <circle cx="11.5" cy="11.5" r="7.5" fill="#FFD096"/>
          <circle cx="11.5" cy="11.5" r="3.5" fill="#FF8C00"/>
        </svg>
      </div>
      <h3>Design</h3>
    </div>
    <p>No more death by documentation. Track user journeys, key design decisions and key insights with minimal effort.</p>
  </div>
  <div class="item-info">
    <div class="icon">
      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11.5" cy="11.5" r="11.5" fill="#FAEAD5"/>
        <circle cx="11.5" cy="11.5" r="7.5" fill="#FFD096"/>
        <circle cx="11.5" cy="11.5" r="3.5" fill="#FF8C00"/>
      </svg>
    </div>
    <div class="info-content">
      <h3>Research</h3>
      <p>Focus on the things that matter. Quickly create a repository of user needs and research insights, formatted in a simple and digestible layout.</p>
    </div>
  </div>
  <div class="item-info">
    <div class="icon">
      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11.5" cy="11.5" r="11.5" fill="#FAEAD5"/>
        <circle cx="11.5" cy="11.5" r="7.5" fill="#FFD096"/>
        <circle cx="11.5" cy="11.5" r="3.5" fill="#FF8C00"/>
      </svg>
    </div>
    <div class="info-content">
      <h3>Product</h3>
      <p>Ensure your product outcomes are aligned to user needs. Get quick visibility on the key assumptions underpinning your service.</p>
    </div>
  </div>
  <div class="item-info">
    <div class="icon">
      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11.5" cy="11.5" r="11.5" fill="#FAEAD5"/>
        <circle cx="11.5" cy="11.5" r="7.5" fill="#FFD096"/>
        <circle cx="11.5" cy="11.5" r="3.5" fill="#FF8C00"/>
      </svg>
    </div>
    <div class="info-content">
      <h3>Delivery</h3>
      <p>Surface key information quickly. Your stakeholders no longer need to fear diving into a Google Sheet or Miro to get the information they need.</p>
    </div>
  </div>
</div>
