<div>
  <div class="break-large orange"></div>
  <div class="title-metrics">
    {%- if title %}<h1 class="white">{{ title }}</h1>{% endif %}
  </div>
  {%- for item in sheet. Registration -%}
    <p class="white">{{ item. Updated }}</p>
  {%- endfor -%}
</div>


<div class="content-metrics"> 
  <div class="item-metric">
    {%- for item in sheetMetric["Assumptions validated"] -%}
      <h1 class="white">{{ item. Total }}</h1>
      <p>{{ item. Metric }}</p>
    {%- endfor -%} 
  </div>
  <div class="item-metric">
    {%- for item in sheetMetric["Users spoke to"] -%}
      <h1 class="white">{{ item. Total }}</h1>
      <p>{{ item. Metric }}</p>
    {%- endfor -%} 
  </div>
  <div class="item-metric">
    {%- for item in sheetMetric["Insights gathered"] -%}
      <h1 class="white">{{ item. Total }}</h1>
      <p>{{ item. Metric }}</p>
    {%- endfor -%} 
  </div>
  <div class="item-metric">
    {%- for item in sheetMetric["Research sessions"] -%}
      <h1 class="white">{{ item. Total }}</h1>
      <p>{{ item. Metric }}</p>
    {%- endfor -%} 
  </div>
</div>