<nav class="topnav" id="myTopnav">
  <div class="logo">
    <a href="/">
      {% if page_id === "example" %}
        <img src="{{ "/images/trackity-logo-light.png" | url }}" width="auto" height="16px" />
      {% else %}
        <img src="{{ "/images/trackity-logo-dark.png" | url }}" width="auto" height="16px" />
      {% endif %}
    </a>
  </div>
  <ul>
    <li class="nav-item"><a class="button {% if page_id === "example" %}light{% endif %}" href="https://app.netlify.com/start/deploy?repository=https://github.com/wshepworth/trackity">Get it</a></li>
    <li class="nav-item {% if page_id === "example" %}active{% endif %}"><a href="/example">Example</a></li>
    <li class="nav-item {% if page_id === "home" %}active{% endif %}"><a href="/">Home</a></li>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
  </ul>
</nav>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>