<nav> 
  <ul>
    <li class="nav-item {% if page_id === "about" %}active{% endif %}"><a href="/about">About</a></li>
    <li class="nav-item {% if page_id === "home" %}active{% endif %}"><a href="/index">Home</a></li>
  </ul>
</nav>
